<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Christi Toa</string>
	<key>Builder Version</key>
	<string>8536.30.1</string>
	<key>CFBundleDisplayName</key>
	<string>Google Click Untracker</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.ctoa.untracker</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>jquery-1.6.3.min.js</string>
				<string>untracker.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Get rid of the cliks that Google tracks you!</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>encrypted.google.com</string>
				<string>google.com</string>
				<string>.google.com</string>
				<string>.google.ad</string>
				<string>.google.ae</string>
				<string>.google.com.af</string>
				<string>.google.com.ag</string>
				<string>.google.com.ai</string>
				<string>.google.am</string>
				<string>.google.co.ao</string>
				<string>.google.com.ar</string>
				<string>.google.as</string>
				<string>.google.at</string>
				<string>.google.com.au</string>
				<string>.google.az</string>
				<string>.google.ba</string>
				<string>.google.com.bd</string>
				<string>.google.be</string>
				<string>.google.bf</string>
				<string>.google.bg</string>
				<string>.google.com.bh</string>
				<string>.google.bi</string>
				<string>.google.bj</string>
				<string>.google.com.bn</string>
				<string>.google.com.bo</string>
				<string>.google.com.br</string>
				<string>.google.bs</string>
				<string>.google.co.bw</string>
				<string>.google.by</string>
				<string>.google.com.bz</string>
				<string>.google.ca</string>
				<string>.google.cd</string>
				<string>.google.cf</string>
				<string>.google.cg</string>
				<string>.google.ch</string>
				<string>.google.ci</string>
				<string>.google.co.ck</string>
				<string>.google.cl</string>
				<string>.google.cm</string>
				<string>.google.cn</string>
				<string>.google.com.co</string>
				<string>.google.co.cr</string>
				<string>.google.com.cu</string>
				<string>.google.cz</string>
				<string>.google.de</string>
				<string>.google.dj</string>
				<string>.google.dk</string>
				<string>.google.dm</string>
				<string>.google.com.do</string>
				<string>.google.dz</string>
				<string>.google.com.ec</string>
				<string>.google.ee</string>
				<string>.google.com.eg</string>
				<string>.google.es</string>
				<string>.google.com.et</string>
				<string>.google.fi</string>
				<string>.google.com.fj</string>
				<string>.google.fm</string>
				<string>.google.fr</string>
				<string>.google.ga</string>
				<string>.google.ge</string>
				<string>.google.gg</string>
				<string>.google.com.gh</string>
				<string>.google.com.gi</string>
				<string>.google.gl</string>
				<string>.google.gm</string>
				<string>.google.gp</string>
				<string>.google.gr</string>
				<string>.google.com.gt</string>
				<string>.google.gy</string>
				<string>.google.com.hk</string>
				<string>.google.hn</string>
				<string>.google.hr</string>
				<string>.google.ht</string>
				<string>.google.hu</string>
				<string>.google.co.id</string>
				<string>.google.ie</string>
				<string>.google.co.il</string>
				<string>.google.im</string>
				<string>.google.co.in</string>
				<string>.google.iq</string>
				<string>.google.is</string>
				<string>.google.it</string>
				<string>.google.je</string>
				<string>.google.com.jm</string>
				<string>.google.jo</string>
				<string>.google.co.jp</string>
				<string>.google.co.ke</string>
				<string>.google.com.kh</string>
				<string>.google.ki</string>
				<string>.google.kg</string>
				<string>.google.co.kr</string>
				<string>.google.com.kw</string>
				<string>.google.kz</string>
				<string>.google.la</string>
				<string>.google.com.lb</string>
				<string>.google.li</string>
				<string>.google.lk</string>
				<string>.google.co.ls</string>
				<string>.google.lt</string>
				<string>.google.lu</string>
				<string>.google.lv</string>
				<string>.google.com.ly</string>
				<string>.google.co.ma</string>
				<string>.google.md</string>
				<string>.google.me</string>
				<string>.google.mg</string>
				<string>.google.mk</string>
				<string>.google.ml</string>
				<string>.google.mn</string>
				<string>.google.ms</string>
				<string>.google.com.mt</string>
				<string>.google.mu</string>
				<string>.google.mv</string>
				<string>.google.mw</string>
				<string>.google.com.mx</string>
				<string>.google.com.my</string>
				<string>.google.co.mz</string>
				<string>.google.com.na</string>
				<string>.google.com.nf</string>
				<string>.google.com.ng</string>
				<string>.google.com.ni</string>
				<string>.google.ne</string>
				<string>.google.nl</string>
				<string>.google.no</string>
				<string>.google.com.np</string>
				<string>.google.nr</string>
				<string>.google.nu</string>
				<string>.google.co.nz</string>
				<string>.google.com.om</string>
				<string>.google.com.pa</string>
				<string>.google.com.pe</string>
				<string>.google.com.ph</string>
				<string>.google.com.pk</string>
				<string>.google.pl</string>
				<string>.google.pn</string>
				<string>.google.com.pr</string>
				<string>.google.ps</string>
				<string>.google.pt</string>
				<string>.google.com.py</string>
				<string>.google.com.qa</string>
				<string>.google.ro</string>
				<string>.google.ru</string>
				<string>.google.rw</string>
				<string>.google.com.sa</string>
				<string>.google.com.sb</string>
				<string>.google.sc</string>
				<string>.google.se</string>
				<string>.google.com.sg</string>
				<string>.google.sh</string>
				<string>.google.si</string>
				<string>.google.sk</string>
				<string>.google.com.sl</string>
				<string>.google.sn</string>
				<string>.google.so</string>
				<string>.google.sm</string>
				<string>.google.st</string>
				<string>.google.com.sv</string>
				<string>.google.td</string>
				<string>.google.tg</string>
				<string>.google.co.th</string>
				<string>.google.com.tj</string>
				<string>.google.tk</string>
				<string>.google.tl</string>
				<string>.google.tm</string>
				<string>.google.tn</string>
				<string>.google.to</string>
				<string>.google.com.tr</string>
				<string>.google.tt</string>
				<string>.google.com.tw</string>
				<string>.google.co.tz</string>
				<string>.google.com.ua</string>
				<string>.google.co.ug</string>
				<string>.google.co.uk</string>
				<string>.google.com.uy</string>
				<string>.google.co.uz</string>
				<string>.google.com.vc</string>
				<string>.google.co.ve</string>
				<string>.google.vg</string>
				<string>.google.co.vi</string>
				<string>.google.com.vn</string>
				<string>.google.vu</string>
				<string>.google.ws</string>
				<string>.google.rs</string>
				<string>.google.co.za</string>
				<string>.google.co.zm</string>
				<string>.google.co.zw</string>
				<string>.google.cat</string>
				<string>www.google.com</string>
				<string>www.google.ad</string>
				<string>www.google.ae</string>
				<string>www.google.com.af</string>
				<string>www.google.com.ag</string>
				<string>www.google.com.ai</string>
				<string>www.google.am</string>
				<string>www.google.co.ao</string>
				<string>www.google.com.ar</string>
				<string>www.google.as</string>
				<string>www.google.at</string>
				<string>www.google.com.au</string>
				<string>www.google.az</string>
				<string>www.google.ba</string>
				<string>www.google.com.bd</string>
				<string>www.google.be</string>
				<string>www.google.bf</string>
				<string>www.google.bg</string>
				<string>www.google.com.bh</string>
				<string>www.google.bi</string>
				<string>www.google.bj</string>
				<string>www.google.com.bn</string>
				<string>www.google.com.bo</string>
				<string>www.google.com.br</string>
				<string>www.google.bs</string>
				<string>www.google.co.bw</string>
				<string>www.google.by</string>
				<string>www.google.com.bz</string>
				<string>www.google.ca</string>
				<string>www.google.cd</string>
				<string>www.google.cf</string>
				<string>www.google.cg</string>
				<string>www.google.ch</string>
				<string>www.google.ci</string>
				<string>www.google.co.ck</string>
				<string>www.google.cl</string>
				<string>www.google.cm</string>
				<string>www.google.cn</string>
				<string>www.google.com.co</string>
				<string>www.google.co.cr</string>
				<string>www.google.com.cu</string>
				<string>www.google.cz</string>
				<string>www.google.de</string>
				<string>www.google.dj</string>
				<string>www.google.dk</string>
				<string>www.google.dm</string>
				<string>www.google.com.do</string>
				<string>www.google.dz</string>
				<string>www.google.com.ec</string>
				<string>www.google.ee</string>
				<string>www.google.com.eg</string>
				<string>www.google.es</string>
				<string>www.google.com.et</string>
				<string>www.google.fi</string>
				<string>www.google.com.fj</string>
				<string>www.google.fm</string>
				<string>www.google.fr</string>
				<string>www.google.ga</string>
				<string>www.google.ge</string>
				<string>www.google.gg</string>
				<string>www.google.com.gh</string>
				<string>www.google.com.gi</string>
				<string>www.google.gl</string>
				<string>www.google.gm</string>
				<string>www.google.gp</string>
				<string>www.google.gr</string>
				<string>www.google.com.gt</string>
				<string>www.google.gy</string>
				<string>www.google.com.hk</string>
				<string>www.google.hn</string>
				<string>www.google.hr</string>
				<string>www.google.ht</string>
				<string>www.google.hu</string>
				<string>www.google.co.id</string>
				<string>www.google.ie</string>
				<string>www.google.co.il</string>
				<string>www.google.im</string>
				<string>www.google.co.in</string>
				<string>www.google.iq</string>
				<string>www.google.is</string>
				<string>www.google.it</string>
				<string>www.google.je</string>
				<string>www.google.com.jm</string>
				<string>www.google.jo</string>
				<string>www.google.co.jp</string>
				<string>www.google.co.ke</string>
				<string>www.google.com.kh</string>
				<string>www.google.ki</string>
				<string>www.google.kg</string>
				<string>www.google.co.kr</string>
				<string>www.google.com.kw</string>
				<string>www.google.kz</string>
				<string>www.google.la</string>
				<string>www.google.com.lb</string>
				<string>www.google.li</string>
				<string>www.google.lk</string>
				<string>www.google.co.ls</string>
				<string>www.google.lt</string>
				<string>www.google.lu</string>
				<string>www.google.lv</string>
				<string>www.google.com.ly</string>
				<string>www.google.co.ma</string>
				<string>www.google.md</string>
				<string>www.google.me</string>
				<string>www.google.mg</string>
				<string>www.google.mk</string>
				<string>www.google.ml</string>
				<string>www.google.mn</string>
				<string>www.google.ms</string>
				<string>www.google.com.mt</string>
				<string>www.google.mu</string>
				<string>www.google.mv</string>
				<string>www.google.mw</string>
				<string>www.google.com.mx</string>
				<string>www.google.com.my</string>
				<string>www.google.co.mz</string>
				<string>www.google.com.na</string>
				<string>www.google.com.nf</string>
				<string>www.google.com.ng</string>
				<string>www.google.com.ni</string>
				<string>www.google.ne</string>
				<string>www.google.nl</string>
				<string>www.google.no</string>
				<string>www.google.com.np</string>
				<string>www.google.nr</string>
				<string>www.google.nu</string>
				<string>www.google.co.nz</string>
				<string>www.google.com.om</string>
				<string>www.google.com.pa</string>
				<string>www.google.com.pe</string>
				<string>www.google.com.ph</string>
				<string>www.google.com.pk</string>
				<string>www.google.pl</string>
				<string>www.google.pn</string>
				<string>www.google.com.pr</string>
				<string>www.google.ps</string>
				<string>www.google.pt</string>
				<string>www.google.com.py</string>
				<string>www.google.com.qa</string>
				<string>www.google.ro</string>
				<string>www.google.ru</string>
				<string>www.google.rw</string>
				<string>www.google.com.sa</string>
				<string>www.google.com.sb</string>
				<string>www.google.sc</string>
				<string>www.google.se</string>
				<string>www.google.com.sg</string>
				<string>www.google.sh</string>
				<string>www.google.si</string>
				<string>www.google.sk</string>
				<string>www.google.com.sl</string>
				<string>www.google.sn</string>
				<string>www.google.so</string>
				<string>www.google.sm</string>
				<string>www.google.st</string>
				<string>www.google.com.sv</string>
				<string>www.google.td</string>
				<string>www.google.tg</string>
				<string>www.google.co.th</string>
				<string>www.google.com.tj</string>
				<string>www.google.tk</string>
				<string>www.google.tl</string>
				<string>www.google.tm</string>
				<string>www.google.tn</string>
				<string>www.google.to</string>
				<string>www.google.com.tr</string>
				<string>www.google.tt</string>
				<string>www.google.com.tw</string>
				<string>www.google.co.tz</string>
				<string>www.google.com.ua</string>
				<string>www.google.co.ug</string>
				<string>www.google.co.uk</string>
				<string>www.google.com.uy</string>
				<string>www.google.co.uz</string>
				<string>www.google.com.vc</string>
				<string>www.google.co.ve</string>
				<string>www.google.vg</string>
				<string>www.google.co.vi</string>
				<string>www.google.com.vn</string>
				<string>www.google.vu</string>
				<string>www.google.ws</string>
				<string>www.google.rs</string>
				<string>www.google.co.za</string>
				<string>www.google.co.zm</string>
				<string>www.google.co.zw</string>
				<string>www.google.cat</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/ctoa</string>
</dict>
</plist>
